<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "theme/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "assets/css/bootswatch.min.css" %}">
    <link rel="stylesheet" href="{% static "_insta_css/style.css" %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	  <link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "./bower_components/html5shiv/dist/html5shiv.js" %}"></script>
      <script src="{% static "./bower_components/respond/dest/respond.min.js" %}"></script>
    <![endif]-->
    <title>Welcome | Instautomation</title>
  </head>

  <body>
    <center>
      <a class="lead" href="//instautomation.com">Come back and authorize!</a>
      <br/>
      <img src="https://i.imgflip.com/gauaa.jpg" title="made at imgflip.com"/>  
    </center>

  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   	<script src="{% static "./bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
   	<script src="{% static "./assets/js/bootswatch.js" %}"></script>

  </body>

</html>