{% extends "home.html" %}

{% block rivali_tmp %}

<p>Risultati trovati:
	<ul>
		{% for nome in tutti_nomi %}
			<li>
				<form action="/aggiungi_competitor" method="post">{% csrf_token %}
					<input type ="hidden" value="{{nome.username }}" name="username"/> 
					<input type ="hidden" value="{{nome.id }}" name="id_utente"/> 
					<a href="http://instagram.com/{{ nome.username }}" target="_blank">{{ nome.username }}</a> 
					<input type="submit" value="Submit"/>
				</form>
			</li>
		{% endfor %}		
	</ul>	
</p>		

{% endblock %}
