<!DOCTYPE html>
<html>
	<head>
		 {% load staticfiles %}
		 <!-- <link rel="stylesheet" href="{% static "style.css" %}" /> -->
	</head>
    
	<body>	
		
		<h1>Gestione</h1>
		
		<div>		
			<h2>Tag</h2>
			
			<form action="/tag" method="post">{% csrf_token %}
			{{ tag_form.as_table }}
			<input type="submit" value="Submit" />
			</form> 

			<p>Lista dei tag inseriti:		
				<ul>
				{% for tag in tags %}
					<li>{{ tag.keyword }}</li>
				{% endfor %}		
				</ul>	
			</p>
		</div>
		
		<div>
			<h2>Rivali</h2>
			
			
			<form action="/cerca_competitor" method="GET">{% csrf_token %}
			{{ cerca_competitor_form.as_table }}
			<input type="submit" value="Submit" />
			</form>  
		
			
			{% block rivali_tmp %}
			{% endblock %}
			
			
			<p>Lista dei rivali inseriti:		
				<ul>
				{% for rivale in rivali %}
					<li>{{ rivale.username }}</li>
				{% endfor %}		
				</ul>	
			</p>		

			
		</div>
		
		<div>
			<h2>Whitelist utenti</h2>
			<p>		
				<ul>
				{% for utente in whitelist_utenti %}
					<li><a href="http://instagram.com/{{ utente.username }}" target="_blank">{{ utente.username }}</a></li>
				{% endfor %}		
				</ul>	
			</p>				
		
		</div>
		
		
		
		<h1>Sezione operativa</h1>
		
		<h2>Sezione Like</h2>	
		{% if check_esistenza_task == False %}

		<form action="/avvia_like">
		  <input type="submit" value="Avvia like automatico!">
		</form>
		
		{% else %}
	    
	    <form action="/ferma_like">
		  <input type="submit" value="FERMA!">
		</form>
		
		{% endif %}
				
		<h2>Sezione Follow automatico</h2>	
		{% if check_esistenza_follow_task == False %}

		<form action="/how_i_met_your_follower">
		  <input type="submit" value="Avvia follow automatico">
		</form>
		
		{% else %}
	    
	    <form action="/ferma_follow">
		  <input type="submit" value="FERMA!">
		</form>
		
		{% endif %}		
		
		{% if booleano_controllo_pulizia %}
		<h2>Pulizia Follower</h2>
	    <form action="/pulizia_follower">
		  <input type="submit" value="Pulisci!">
		</form>
		
		{% endif %}		
		
		<h2>Auto whitelist miei follower</h2>
		
		<form action="/whitelist_follower">
		  <input type="submit" value="Riempi whitelist!">
		</form>
					
		<h1>Opzioni</h1>	
		
		<a href="/logout">Esci</a>

				
		
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</body>
</html>
