{% extends "instalogin.html" %}

{% block content %}

<h2>Sezione operativa</h2>

{% if not status_obj_attivi %}
	<form action="/start" method="post">{% csrf_token %}
		<button type="submit" class="btn btn-default">Avvia il sistema</button>
	</form>
	
	{% else %}
	
	<form action="/stop" method="post">{% csrf_token %}
		<button type="submit" class="btn btn-default">Ferma il sistema</button>
	</form>
{% endif %}



<h2>Tag</h2>
<ul class="nav nav-list">
	<li class="nav-header">Lista dei tag inseriti:</li>
	{% for tag in lista_tag %}
	<li>
		{{tag.keyword}}
	</li>
	{% endfor %}	
</ul>	

<h3>Aggiungi un tag</h3>
<form action="/aggiungi_tag" method="post">{% csrf_token %}
	{{ tag_form.as_table }}
	<input type="submit" value="Submit" class="btn btn-default" />
</form> 


<h2>Rivali</h2>
<ul class="nav nav-list">
	<li class="nav-header">Lista dei rivali inseriti:</li>
	{% for rivale in rivali %}
		<li>{{ rivale.username }}</li>
	{% endfor %}	
</ul>

<form action="/cerca_competitor" method="GET">{% csrf_token %}
{{ competitor_form.as_table }}
   <button type="submit" class="btn btn-default">Cerca</button>
</form>  

{% block rivali_tmp %}{% endblock %}

<h2>Opzioni</h2>			
<a href="/logout">Esci</a>



	
{% endblock %}			
