{% extends 'instalogin.html' %}
{% load staticfiles %}

{% block corpo %}

<!-- Inizio header -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<img src="{% static "./_insta_images/instautomation-logo.png" %}" alt=""/>
				Instautomation
			</a>
          	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          	</button>
       	</div>
        <div class="navbar-collapse collapse" id="navbar-main">
          	<ul class="nav navbar-nav navbar-right">
			    <li class="dropdown">
			    	<a href="" class="dropdown-toggle" id="info_menu" data-toggle="dropdown" aria-expanded="true">
			    		{{info_label}} <span class="caret"></span>
			   		</a>
			   		<ul class="dropdown-menu" role="menu" aria-labelledby="info_menu">
			   			<li role="presentation">
			   				<a role="menuitem" tabindex="-1" href="#pricing" class="smooth-price">
			   					{{prezzi}}
			   				</a>
			   			</li>
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="javascript:openTerms()">
   								{{termini}}
   							</a>
   						</li>
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="{{iubenda_link}}" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">
   								{{privacy}}
   							</a>
   						</li>
   						<li role="presentation" class="divider"></li>
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="javascript:openSupport()">
   								{{supporto}}
   							</a>
   						</li>    						 						
   					</ul>
				</li>

			    <li class="dropdown">
			    	<a href="" class="dropdown-toggle" id="mio_profilo" data-toggle="dropdown" aria-expanded="true">
			    		{{my_profile_label}} <span class="caret"></span>
			   		</a>
			   		<ul class="dropdown-menu" role="menu" aria-labelledby="mio_profilo">
			   			<li role="presentation">
			   				<a role="menuitem" tabindex="-1" href="javascript:openChange()">{{cambia_email}}</a>
			   			</li>
			   			<li role="presentation" class="divider"></li>
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="javascript:loggingOut('1')">{{logout}}</a>
   						</li>    						 						
   					</ul>
				</li>

			    <li class="dropdown">
			    	<a href="" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			    		{{lingua_string}} <span class="caret"></span>
			   		</a>
			   		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			   			<li role="presentation">
			   				<a role="menuitem" tabindex="-1" href="javascript:changeLang('it')">
			   					Italiano
			   				</a>
			   			</li>
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="javascript:changeLang('en')">
   								English
   							</a>
   						</li>
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="javascript:changeLang('ro')">
   								Română
   							</a>
   						</li>  
   						<li role="presentation">
   							<a role="menuitem" tabindex="-1" href="javascript:changeLang('fr')">
   								Français
   							</a>
   						</li>     						 						
   					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Fine header -->

<!-- Inizio corpo -->
<div class = "container" id = "corpo">
	<h3>{{benvenuto_avatar_string}},</h3>
	<!-- Inizio riga con i dati -->
    <div class="row">
		<div class="col-md-6">
			<img id="avatar" src={{avatar}} alt=""/>
			<div id="nick">{{username}}</div>
		</div>		

		<div style="margin:10pt;"></div>

		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{num_post}}
				</div>
				<div class="panel-body">
					{{post_string}}
				</div>
			</div>
		</div>
				
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{followed_by}}
				</div>
				<div class="panel-body">
					{{follower_string}}
				</div>
			</div>
		</div>
				
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{follows}}
				</div>
				<div class="panel-body">
					{{following_string}}
				</div>
			</div>
		</div>	
	</div>
	<!-- Fine riga con i dati -->
	
	<!-- Avviso -->
	{% if avviso != None %}
		<div class="row pad10">
			<div class="col-md-12">
				<div class="alert alert-dismissable alert-warning">
					<h4>{{warning_string}}</h4>
					<p>{{avviso|safe}}</a></p>
				</div>
			</div>
		</div>					
	{% endif %}	
	<!-- Fine avviso -->

	<br/>

	<!-- Inizio blocco tag e target -->
	<div class="panel-group" role="tablist" aria-multiselectable="true">
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="heading" data-toggle="collapse" href="#collapse" aria-controls="collapse">
      			<h4 class="panel-title">
      				{{settings_title}}
      				<span id="logo_da_cambiare" class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="float: right;"/>
      			</h4>
    		</div>
    		<div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
      			<div class="panel-body">
      				<div class="row">
      					<!-- Inizio sezione user target -->  
      					<div style="margin:10pt;"></div>    					
      					<div class="col-md-6">
      						<div class="alert alert-default" role="alert">
								<span class="titolo_sezione" data-content="{{corpo_choose_target_profile_string}}" rel="popover" data-placement="bottom" data-trigger="hover">
      								<span style="color:#f0ad4e; font-weight: bold;">
      									{{choose_target_profile_string}}
      								</span>
      							</span>
      						</div>
      						
      						<div id="sezione_user_target" class="panel panel-default">
      							<div class="panel-heading">
									<h3 class="panel-title">
										{{target_users_title}}
									</h3>
								</div>
								<div class="panel-body">
									<form id ="cerca_competitor">
										<div id="tagSearch_competitor" class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-users"></i>
											</span>
											<input type="text" id ="cerca_competitor_keyword" class="form-control" placeholder="{{search_placeholder}}" name="keyword" / required>
											<span class="input-group-btn">
												<button class="btn btn-default" type="submit">
													{{ricerca_string}} 
												</button>
											</span>
										</div>
									</form>

									<span id="avviso_vuoto" style="display:none;">
										<b>{{no_target_found_string}}</b>
									</span>

									<div class="pad20" id="risultato_ricerca" style="display:none;">
										<form id="form_competitor_0"></form>
										<form id="form_competitor_1"></form>
										<form id="form_competitor_2"></form>
										<form id="form_competitor_3"></form>
										<form id="form_competitor_4"></form>
										<form id="form_competitor_5"></form>
										<form id="form_competitor_6"></form>
										<form id="form_competitor_7"></form>
										<form id="form_competitor_8"></form>
										<form id="form_competitor_9"></form>
										<table class="table table-striped table-hover">
											<thead>
												<tr>
													<th>Profiles</th>
													<th>Followers</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="corpo_tabella"></tbody>
										</table>
									</div>

									<h6 class="row pad10">
										{{selected_users_string}}
									</h6>

									<ul class="list-group" id="lista_utenti">
										{% for rivale in rivali %}	
											<li class="list-group-item">								
												<form title="{{rivale.username}}" class="rivale_form">
													{% csrf_token %}
													<button type="submit" class="close">×</button>
													<input type="hidden" value="{{rivale.username}}" name = "nome_rivale">
													{{rivale.username}}
												</form>
											</li>														
										{% endfor %}
									</ul>
								</div>	
      						</div>
      					</div>
      					<!-- Fine sezione user target -->
      					<div style="margin:10pt;"></div>
      					<!-- Inizio sezione tag -->
  						<div class="col-md-6">
  							<div class="alert alert-default" role="alert">
      							<span class="titolo_sezione" data-content="{{corpo_choose_tag_string}}" rel="popover" data-placement="bottom" data-trigger="hover">
      								<span style="color:#f0ad4e; font-weight: bold;">
      									{{choose_tag_string}}
      								</span>
      							</span>
      						</div>
  							<div id="sezione_user_tag" class="panel panel-default">
      							<div class="panel-heading">
									<h3 class="panel-title">
										{{tags_string}}
									</h3>
								</div>
								<div class="panel-body">
									<form id ="aggiungi_tag">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-tags"></i>
											</span>
											<span class="input-group-addon">
												#
											</span>
											<input type="text" id ="aggiungi_tag_keyword" class="form-control" placeholder="{{insert_a_tag_place}}" name="keyword">
											<span class="input-group-btn">
												<button class="btn btn-default" type="submit">
													{{salva_sting}}
												</button>
											</span>
										</div>
									</form>

									<span id="avviso_tag_esistente" style="display:none;">
										<b>{{tag_esistente_string}}</b>
									</span>

									<h6 class="row pad10">
										{{selected_tags_string}}
									</h6>

									<ul class="list-group" id="lista_tag_completa">
										{% for tag in lista_tag %}	
											<li class="list-group-item">
												<form title="{{tag.keyword}}" class="tag-form">
													{% csrf_token %}
													<button type="submit" class="close">×</button>
													<input type="hidden" value="{{tag.keyword}}" name = "keyword">
													#{{tag.keyword}}
												</form>
											</li>														
										{% endfor %}
									</ul>
								</div>  								
  							</div>
  						</div>
  						<!-- Fine sezione tag -->
      				</div>
      			</div>
   			 </div>
  		</div>
	</div>
	<!-- Fine blocco tag e target -->

	{% if stato_pacchetto = 2 and status_obj_attivi %}

	<div class="well">
		<div class="row">
			<div class="col-md-2">
		  		<center>
		  			<i class="fa fa-instagram fa-5x fa-spin"></i>
		  		</center>	
		  	</div>
		  	<div class="col-md-8">
		  		<center>
		  			<h1>{{sistema_attivo_string}}</h1>
			</center>	  
			</div>	
		  	<div class="col-md-2">
		  		<center>
		  			<i class="fa fa-instagram fa-5x fa-spin"></i>
		  		</center>
		  	</div>
		</div>
	</div>

	<form id = "pause">
		{% csrf_token %}
		<button type="submit" class="btn btn-danger btn-lg pannelloControllo">
			{{pause_string}}
		</button>
	</form>	

	{% else %}
	
	<form id = "start">
		{% csrf_token %}
		<button type="submit" class="btn btn-primary btn-lg pannelloControllo">
			{{avvia_string}}
		</button>
	</form>	

	{% endif %}

	<br/>

	<!-- Inizio sezione account --> 
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title">
    				{{your_account_string}}
    			</h3>
  			</div>
  			<div class="panel-body">
  				<div class="row">
  					<!-- Inizio sezione tuo abbonamento -->
  					<div class="col-md-6">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h3 class="panel-title">
  									{{il_tuo_abbonamento_string}}
  								</h3>
  							</div>
  							<div class="panel-body">
  								<div class="row">
  									<div class="col-md-12">
	  									<div class="panel panel-default">
	  										<div class="panel-body">
	  											<a href="#pricing" class="smooth-price">
	  												{{aumenta_giorni_string}}
	  											</a> 											
	  										</div>
	  									</div>
  									</div>
  								</div>
  								<div class="row pad10">

  									<div style="margin:10pt;"></div>

  									<div class="col-md-6">
  										<div class="panel panel-default">
  											<div class="panel-body">
  												{{total_time_string}}
  												<br/>
  												<span class="hue coloured">{{giorni_totali}} {{giorni_string}}</span> 
  											</div>
  										</div>
  									</div>

  									<div style="margin:10pt;"></div>

  									<div class="col-md-6">
  										<div class="panel panel-default">
  											<div class="panel-body">
  												{{tempo_restante_string}}
  												<br/>
  												<span class="hue coloured">{{time_remaining}} {{giorni_string}}</span>
  											</div>
  										</div>
  									</div>  									
  								</div>
  							</div>
  						</div>
  					</div>
  					<!-- Fine sezione tuo abbonamento -->

  					<!-- Inizio sezione il sistema ha generato -->
  					<div class="col-md-6">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h3 class="panel-title">
  									{{il_sistema_ha_generato}}
  								</h3>
  							</div>
  							<div class="panel-body">
  								<div class="row">
  									<div class="col-md-12">
  										<div class="panel panel-default">
  											<div class="panel-body">
												<span class="hue coloured">
													{{follower_since_registration}}
												</span> {{nuovi_seguaci_string}}
											</div>
										</div>
  									</div>
  								</div>
  								<div class="row pad10">
  									<div style="margin:10pt;"></div>
  									<div class="col-md-6">
  										<div class="panel panel-default">
  											<div class="panel-body">
  												<span class="hue coloured">{{like_totali}} media</span>
  												<br/>
  												{{liked_by_system_string}}
  											</div>
  										</div>
  									</div>
  									<div style="margin:10pt;"></div>
  									<div class="col-md-6">
  										<div class="panel panel-default">
  											<div class="panel-body">
  												<span class="hue coloured">{{follow_totali}} {{utenti_stringa}}</span>
  												<br/>
  												{{seguiti_dal_sistema_string}}
  											</div>
  										</div>
  									</div>  									
  								</div>
  							</div>
  						</div>
  					</div>
  					<!-- Fine sezione il sistema ha generato -->  					
  				</div>				
  			</div>
		</div>
	</div>
	<!-- Fine sezione account --> 


	<!-- Inizio sezione pagamenti -->
	<div class="panel-group" id="pricing">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{titolo_pagamenti_string}}
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<!-- Inizio sezione free e tweet -->
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									{{subscription_bonus_string}}
								</h3>
							</div>
							<div class="panel-body">
								<span class="fa fa-gift fa-3x"></span>
								<br/>
								<span style="font-size:small;">
									{{giorni_free_subscription_string}}
								</span>
							</div>
						</div>
						<br/>
						<!--
						<div class="panel panel-default">
							<div class="panel-body">
								<a href="http://socialcities.co" target="_blank">
									<img src="{% static "socialcities.png" %}" style="width:100%;"/>
								</a>
							</div>
						</div>
						-->
					</div> 
					<!-- Fine sezione free e tweet -->

					<!-- Inizio sezione 15 giorni -->
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									{{string_15_giorni_titolo|safe}}
								</h3>
							</div>
							<div class="panel-body">
								<span class="fa fa-instagram fa-4x"></span>
								<h3>{{entry_pack_string}}</h3>
								<ul class="pad10">
									<li style="color:blue;">{{string_15_giorni}}</li>
									<li>{{prezzo_15_giorni|safe}}</li>
								</ul>
								<a id="pagamento_15" class="btn btn-primary" href="charge">
									{{paga_card_string}}
								</a>
								<hr/>
								<span class="fa fa-cc-mastercard fa-2x"></span> 
								<span class="fa fa-cc-visa fa-2x"></span> 
								<span class="fa fa-cc-amex fa-2x"></span> 
								<span class="fa fa-cc-stripe fa-2x"></span>
							</div>
						</div>
					</div>
					<!-- Fine sezione 15 giorni -->

					<!-- Inizio sezione 30 giorni -->
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									{{titolo_30_giorni|safe}}
								</h3>
							</div>
							<div class="panel-body">
								<span class="fa fa-instagram fa-4x"></span>
								<h3>{{standard_pack_string}}</h3>
								<ul class="pad10">
									<li style="color:blue;">{{string_30_giorni}}</li>
									<li>{{prezzo_30_giorni|safe}}</li>
								</ul>
								<a id="pagamento_30" class="btn btn-primary" href="charge">{{paga_card_string}}</a>
								<hr />
								<i class="fa fa-cc-mastercard fa-2x"></i> 
								<i class="fa fa-cc-visa fa-2x"></i> 
								<i class="fa fa-cc-amex fa-2x"></i> 
								<i class="fa fa-cc-stripe fa-2x"></i>
							</div>
						</div>
					</div>
					<!-- Fine sezione 30 giorni -->

					<!-- Inizio sezione 90 giorni -->
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									{{titolo_90_giorni_string|safe}}
								</h3>
							</div>
							<div class="panel-body">
								<span class="fa fa-instagram fa-4x"></span>
								<h3>{{power_pack_string}}</h3>
								<ul class="pad10">
									<li style="color:blue;">{{stringa_90_giorni}}</li>
									<li>{{prezzo_90_giorni_string|safe}}</li>
								</ul>
								<a id="pagamento_90" class="btn btn-primary" href="charge">{{paga_card_string}}</a>
								<hr />
								<i class="fa fa-cc-mastercard fa-2x"></i> 
								<i class="fa fa-cc-visa fa-2x"></i> 
								<i class="fa fa-cc-amex fa-2x"></i> 
								<i class="fa fa-cc-stripe fa-2x"></i>
							</div>
						</div>
					</div>
					<!-- Fine sezione 90 giorni -->					
				</div>
			</div>
		</div>
	</div>
	<!-- Fine sezione pagamenti -->

</div>
<!-- Fine corpo -->

<!--SPINNER-->
<div id="spinner" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
		  	<div class="modal-body">
		  		<p>{{caricamento_string}}</p>
		  		<div class="progress progress-striped">
					<div class="progress-bar progress-bar-success active" style="width:100%"></div>
				</div>
		 	</div>
		</div>
	</div>
</div>

<div class="modal" id="utente_esiste_modal">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        	<h4 class="modal-title">Ooops!</h4>
	      	</div>
	      	<div class="modal-body">
	        	{{utente_esiste_string}}
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
	      	</div>
	    </div>
	</div>
</div>

<div class="modal" id="errore_generico">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        	<h4 class="modal-title">Ooops!</h4>
	      	</div>
	      	<div class="modal-body">
	        	{{errore_numero_tag_e_target}}
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
	      	</div>
	    </div>
	</div>
</div>

<div class="modal" id="errore_myself">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        	<h4 class="modal-title">Ooops!</h4>
	      	</div>
	      	<div class="modal-body">
	        	{{errore_myself_string}}
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
	      	</div>
	    </div>
	</div>
</div>

<div class="modal" id="num_tag_modal">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        	<h4 class="modal-title">Ooops!</h4>
	      	</div>
	      	<div class="modal-body">
	        	{{num_tag_modal_string}}
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
	      	</div>
	    </div>
	</div>
</div>

<div class="modal" id="added_model">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        	<h4 class="modal-title">Yay!</h4>
	      	</div>
	      	<div class="modal-body">
	        	{{added_generico_string}}
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
	      	</div>
	    </div>
	</div>
</div>

<!--TERMS-->
<div id="terms" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">{{termini}}</h4>
		  	</div>
		  	<div id="termsDiv" class="modal-body">
		  		<h4>Welcome to Instautomation!</h4>
				<p>By using our service, you agree to these Terms. Please, read them carefully before accessing our service.</p>
				<p>We are not affiliated with Instagram, Facebook or any Instagram third-party partners in any way. The Instagram logo is registered trademarks of Instagram, LLC.</p>
				<p><b>If you don’t accept all Terms you can’t use Instautomation.</b></p>
				<p><ul><li>It is your sole responsibility to comply with Instagram rules and any legislation that you are subject to.</li>
				<li><b>We discourage spam and violation of the law.</b></li>
				<li>You use Instautomation at your own risk.</li>
				<li>We are not responsible for your actions and their consequences.</li>
				<li>We are not to blame if your Instagram account is banned for any reason.</li>
				<li>It is your sole responsibility to check that the data you’ve provided us (email, for example) is correct.</li>
				<li><b>Instautomation will send you an email if the system is down and/or your access token is reset. It is your sole responsibility to check our emails and follow the instructions for not wasting the time you’ve bought.</b></li>
				<li>We require your Instagram username and password to deliver securely the service through Instagram API OAuth 2.0.</li>
				<li>We don't store, give away or otherwise distribute your password to any third parties.</li>
				<li>The expected amount of followers and likes is not guaranteed to you in any way. It all depends on the quality and interestingness of your content and the tags you've chosen.</li>
				<li>We bring attention of real users to your feed, but we can't protect you from spam, fake or inactive followers. It's not possible to stop them, but you can remove unwanted followers by yourself.</li>
				<li>Before you make a purchase decision you are advised to try Instautomation for free for 2 days.</li>
				<li>You agree that upon purchasing our service you clearly understand and agree what you are purchasing and will not file a fraudulent dispute via Stripe.</li>
				<li><b>Time is counting down when your payment is accepted.</b></li>
				<li>You have 7 days after you bought a package to refund your money.</li>
				<li>We do not offer refunds after package is activating by you and time is counting down.</li>
				<li>All sales are final. Chargeback your payment and you’ll be banned immediately.</li>
				<li>We cannot guarantee the continuous, uninterrupted or error-free operability of the services.</li>
				<li>We reserve the right to modify, suspend or withdraw the whole or any part of our service or any of its content at any time without notice and without incurring any liability.</li>
				<li>We are aloud to stop this service at anytime without informing you. Only refunds that are valid by terms will be processed.</li>
				<li>You are solely responsible any consequences, losses or damages that we may directly or indirectly incur or suffer due to any unauthorized activities conducted by you, as explained above, and may incur criminal or civil liability.</li>
				<li>It is your sole responsibility to check whether the Terms have changed.</li></ul></p>
				<h4>Termination of Use</h4>
				<p>You agree that we may, at our sole discretion, suspend or terminate your access to all or part of our website and Resources with or without notice and for any reason, including, without limitation, breach of this Terms. Any suspected illegal, fraudulent or abusive activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.</p>
				<h4>Law</h4>
				<p>This website can be accessed by most countries around the world. By accessing our website, you agree that the statutes and laws of our state.</p>
				<h4>Guarantee</h4>
				<p>By using our website, you understand and agree that all services we provide are “as is” and “as available”.</p>
				<p>You expressly understand and agree that any claim against us shall be limited to the amount you paid, if any, for use of products and/or services. We will not be liable for any direct, indirect, incidental, consequential or exemplary loss or damages which may be incurred by you as a result of using our service, or as a result of any changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that applicable limitation of liability laws apply.</p>
				<p>UNLESS OTHERWISE EXPRESSED, INSTAUTOMATION EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
				<h4>Contact Information</h4>
				<p>Please read these Terms carefully.</p>
				<p>Instautomation is property by SocialCities s.r.l. located in Via Selice 84/A, 40026 Imola (BO), Italy, VAT code IT03368221200.</p>
				<p>If you have any questions or comments about these our Terms of Service as outlined above, you can contact us at: info@instautomation.com</p>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
		 	</div>
		</div>
	</div>
</div>

<!--CHANGE EMAIL-->
<div id="changeEmail" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">
					{{cambia_email_string}}
				</h4>
		 	</div>
		  	<div class="modal-body">
		  		<form class="form-horizontal" id="ajax-contact-form_email">
		  			<div style="text-align:center">
		  				{{email_attuale_string}}: {{email}}
		  			</div>
		  			<br/><br/>
		  			<fieldset>				  
						<div class="form-group row">
			      			<label for="email1" class="col-lg-3 control-label">
			      				{{nuova_email_string}}
			      			</label>
			      			<div class="col-lg-9">
			       				<input type="email" class="form-control" id="email1" placeholder="{{placeholder_nuova_email}}">
			      			</div>
			    		</div>
			    		<div class="form-group row">
			      			<label for="email2" class="col-lg-3 control-label">
			      				{{conferma_nuova_email}}
			      			</label>
			      			<div class="col-lg-9">
			       				<input type="email" class="form-control" id="email2" placeholder="{{conferma_email_string_placeholder}}">
			      			</div>
			    		</div>
			  		</fieldset>
				</form>
				<div id="note1"></div>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi_string}}</button>
				<button class="btn btn-primary" id = "chiusura_modale_change" onClick="sendChange()">{{salva_sting}}</button>
		 	</div>
		</div>
	</div>
</div>

<!--SUPPORT-->
<div id="support" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">
					{{aiuto_string}}
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="ajax-contact-form">
				  	<fieldset>
				  		{% if email == None %}
					    <div class="form-group">		      		
					      	<label for="email_nuova_vuota" class="col-lg-3 control-label">
					      			{{email_string}} *
					      	</label>
					     	<div class="col-lg-9">
					       		<input type="email" class="form-control" name="email" id="email_nuova_vuota" placeholder="{{placeholder_nuova_email}}">
					       	</div>
					    </div>
				  		{% endif %}

				    	<div class="form-group">
				      		<input id="inputEmail" type="hidden" name="" value="">			      		
				      		<label for="inputSubject" class="col-lg-3 control-label">
				      			{{titolo_string_supporto}}
				      		</label>
				     		<div class="col-lg-9">
				       			<input type="text" class="form-control" id="inputSubject" placeholder="{{placeholder_titolo_supporto_string}}">
				       		</div>
				    	</div>
				    	<div class="form-group">
				      		<label for="inputMessage" class="col-lg-3 control-label">
				      			{{messaggio_string_support}}
				      		</label>
				     		<div class="col-lg-9">
				        		<textarea class="form-control" rows="3" id="inputMessage" placeholder="{{write_a_message_placeholder}}"></textarea>
				       			<span class="help-block"></span>
				      		</div>
				   		</div>	
				  	</fieldset>
				</form>
			</div>		
			<div id="note"></div>		
			<div class="modal-footer"></div>
		</div>
	</div>
</div>

<!-- Modale inserimento email -->
<div id="prima_email_modal" class="modal fade">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
       			<h4 class="modal-title">
       				{{modale_titolo_email_obbligatoria}}
       			</h4>
     		</div>
     		<form id="modale_nuova_prima_email">
     			{% csrf_token %}
	      		<div class="modal-body">    			
	      			<div class="form-group">
	      				<p>{{modale_corpo_email_obbligatoria}}</p>
					    <input type="email" name="email" class="form-control" id="id_email_form" placeholder="{{placeholder_nuova_email}}" required>
					</div>
	     		</div>
	     		<div class="modal-footer">
	       			<button type="submit" class="btn btn-primary">{{salva_sting}}</button>
	      		</div>
      		</form>
    	</div>
 	</div>
</div>


<!-- Inizio footer -->
<footer>
	<div class="container">
		<hr/>
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-unstyled">
					<li class="pull-right"><a href="#top" class="smooth-top">{{torna_in_cima}}</a></li>
					<li><a href="javascript:openTerms()">{{termini}}</a></li>
					<li><a href="{{iubenda_link}}" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">{{privacy}}</a></li>
				</ul>
				<p>
					Instautomation.com © 2015 - <a href="http://www.socialcities.co" target="_blank">SocialCities s.r.l.</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<!-- Fine footer -->

<div id= "logoutDiv1" style="visibility:hidden;"></div>
<div id= "logoutDiv2" style="visibility:hidden;"></div>

<script type="text/javascript">
chiudi_string = "{{chiudi_string}}";
invia_string = "{{invia_string}}";
string_js_15_giorni = "{{string_js_15_giorni}}";
string_js_30_giorni = "{{string_js_30_giorni}}"; 
string_js_90_giorni = "{{string_js_90_giorni}}";
email = "{{email}}";
</script>

{% endblock %}