<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "theme/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "assets/css/bootswatch.min.css" %}">
    <link rel="stylesheet" href="{% static "_insta_css/style.css" %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "./bower_components/html5shiv/dist/html5shiv.js" %}"></script>
      <script src="{% static "./bower_components/respond/dest/respond.min.js" %}"></script>
    <![endif]-->
    <title>Instautomation</title>
  </head>

    <body>
    {% block corpo %}
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><img src="{% static "./_insta_images/instautomation-logo.png" %}" alt=""/>Instautomation</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:openTerms()">{{termini}}</a></li>
            <li><a href="{{iubenda_link}}" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">{{privacy}}</a></li>
          </ul>
        </div>
      </div>
    </div>

<!-- - - - - - - - - - END HEADER  - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="container">
		<div class="page-header" id="banner">

			<div class="row">
				<div class="col-md-4">
					<div class="jumbotron-image">
					  <img src="{% static "_insta_images/climb.png" %}" alt=""/>
					</div>
				</div>
				<div class="col-md-8">
					<div id="jumbo" class="jumbotron">
						<h1>{{welcome}}</h1>
						<p>{{sub_welcome|safe}}</p>
						<div class="row">
							<div class="col-md-12">
								<div class="btn-group btn-group-justified">
									<a href="{% url 'socialauth_begin' 'instagram' %}" class="btn btn-primary" style="width:25%;"><i class="fa fa-instagram fa-2x"></i></a>
									<a href="{% url 'socialauth_begin' 'instagram' %}" class="btn btn-primary" style="width:75%;padding-right:25%;">
										{{start_now}}
									</a>
								</div>
								<small>
									{{small_credits|safe}}
								</small>
							</div>
						</div>
					</div> 
				</div>
			</div>

			<div class="row pad20">
				<div class="col-md-6">
					<blockquote>
						<h2>{{titolo_target|safe}}</h2>					
						{{corpo_target|safe}}
					</blockquote>
				</div>
				<div class="col-md-6">
					<div style="text-align:center">
						<img src="{% static "./_insta_images/1.png" %}" style="width:60%;margin-top:-50px;" alt="">
					</div>
				</div>	
			</div>

			<div class="row pad20">
				<div class="col-md-6">
					  <div style="text-align:center">
					  	<img src="{% static "./_insta_images/2.png" %}" style="width:60%;margin-top:-50px;" alt="">
					  </div>
				</div>
				<div class="col-md-6">
					<blockquote class="pull-right">
						<h2>{{titolo_plan|safe}}</h2>
					  	{{corpo_plan|safe}}
					</blockquote>
				</div>
			</div>
		</div>

		<!--TERMS-->
		<div id="terms" class="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							×
						</button>
						<h4 class="modal-title">{{termini}}</h4>
				  	</div>
			  	<div id="termsDiv" class="modal-body">
			  		<h4>Welcome to Instautomation!</h4>
					<p>By using our service, you agree to these Terms. Please, read them carefully before accessing our service.</p>
					<p>We are not affiliated with Instagram, Facebook or any Instagram third-party partners in any way. The Instagram logo is registered trademarks of Instagram, LLC.</p>
					<p><b>If you don’t accept all Terms you can’t use Instautomation.</b></p>
					<p><ul><li>It is your sole responsibility to comply with Instagram rules and any legislation that you are subject to.</li>
					<li><b>We discourage spam and violation of the law.</b></li>
					<li>You use Instautomation at your own risk.</li>
					<li>We are not responsible for your actions and their consequences.</li>
					<li>We are not to blame if your Instagram account is banned for any reason.</li>
					<li>It is your sole responsibility to check that the data you’ve provided us (email, for example) is correct.</li>
					<li><b>Instautomation will send you an email if the system is down and/or your access token is reset. It is your sole responsibility to check our emails and follow the instructions for not wasting the time you’ve bought.</b></li>
					<li>We require your Instagram username and password to deliver securely the service through Instagram API OAuth 2.0.</li>
					<li>We don't store, give away or otherwise distribute your password to any third parties.</li>
					<li>The expected amount of followers and likes is not guaranteed to you in any way. It all depends on the quality and interestingness of your content and the tags you've chosen.</li>
					<li>We bring attention of real users to your feed, but we can't protect you from spam, fake or inactive followers. It's not possible to stop them, but you can remove unwanted followers by yourself.</li>
					<li>Before you make a purchase decision you are advised to try Instautomation for free for 2 days.</li>
					<li>You agree that upon purchasing our service you clearly understand and agree what you are purchasing and will not file a fraudulent dispute via Stripe.</li>
					<li><b>Time is counting down when your payment is accepted.</b></li>
					<li>You have 7 days after you bought a package to refund your money.</li>
					<li>We do not offer refunds after package is activating by you and time is counting down.</li>
					<li>All sales are final. Chargeback your payment and you’ll be banned immediately.</li>
					<li>We cannot guarantee the continuous, uninterrupted or error-free operability of the services.</li>
					<li>We reserve the right to modify, suspend or withdraw the whole or any part of our service or any of its content at any time without notice and without incurring any liability.</li>
					<li>We are aloud to stop this service at anytime without informing you. Only refunds that are valid by terms will be processed.</li>
					<li>You are solely responsible any consequences, losses or damages that we may directly or indirectly incur or suffer due to any unauthorized activities conducted by you, as explained above, and may incur criminal or civil liability.</li>
					<li>It is your sole responsibility to check whether the Terms have changed.</li></ul></p>
					<h4>Termination of Use</h4>
					<p>You agree that we may, at our sole discretion, suspend or terminate your access to all or part of our website and Resources with or without notice and for any reason, including, without limitation, breach of this Terms. Any suspected illegal, fraudulent or abusive activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.</p>
					<h4>Law</h4>
					<p>This website can be accessed by most countries around the world. By accessing our website, you agree that the statutes and laws of our state.</p>
					<h4>Guarantee</h4>
					<p>By using our website, you understand and agree that all services we provide are “as is” and “as available”.</p>
					<p>You expressly understand and agree that any claim against us shall be limited to the amount you paid, if any, for use of products and/or services. We will not be liable for any direct, indirect, incidental, consequential or exemplary loss or damages which may be incurred by you as a result of using our service, or as a result of any changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that applicable limitation of liability laws apply.</p>
					<p>UNLESS OTHERWISE EXPRESSED, INSTAUTOMATION EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
					<h4>Contact Information</h4>
					<p>Please read these Terms carefully.</p>
					<p>Instautomation is property by SocialCities s.r.l. located in Via Selice 84/A, 40026 Imola (BO), Italy, VAT code IT03368221200.</p>
					<p>If you have any questions or comments about these our Terms of Service as outlined above, you can contact us at: info@instautomation.com</p>
			  	</div>
				  	<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{chiudi}}</button>
				  	</div>
				</div>
			</div>
		</div>

<!-- - - - - - - - - - FOOTER  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<footer>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled">
				  		<li class="pull-right">
				  			<a href="#top" class="smooth-top">
				  				{{torna_in_cima}}
				  			</a>
				  		</li>
				  		<li>
				  			<a href="javascript:openTerms()">
				  				{{termini}}
				  			</a>
				  		</li>
				  		<li>
				  			<a href="{{iubenda_link}}" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">
				  				{{privacy}}
				  			</a>
				  		</li>
					</ul>
					<p>
						Instautomation.com © 2015 - <a href="http://www.socialcities.co" target="_blank">SocialCities s.r.l.</a>
					</p>
			  	</div>
			</div>
		</footer>
    </div>
   {% endblock %}

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <script src="{% static "jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "logout.js" %}"></script>
    <script src="{% static "WearProtection.js" %}"></script>
    <script src="{% static "./bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "./assets/js/bootswatch.js" %}"></script>
    <script src="{% static "./_insta_js/ga.js" %}"></script>
    <script src="{% static "./_insta_js/privacy.js" %}"></script>
	<script src="{% static "./_insta_js/function.js" %}"></script>
	<script src="{% static "main.js" %}"></script>
</body>
</html>




