<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "theme/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "assets/css/bootswatch.min.css" %}">
    <link rel="stylesheet" href="{% static "_insta_css/style.css" %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "./bower_components/html5shiv/dist/html5shiv.js" %}"></script>
      <script src="{% static "./bower_components/respond/dest/respond.min.js" %}"></script>
    <![endif]-->
    <title>Welcome | Instautomation</title>
  </head>

    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><img src="{% static "./_insta_images/instautomation-logo.png" %}" />Instautomation</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
         <!-- <ul class="nav navbar-nav">
          </ul> -->

          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:openTerms()">Our terms</a></li>
            <li><a href="//www.iubenda.com/privacy-policy/203721" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy</a></li>
          </ul>

        </div>
      </div>
    </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - END HEADER  - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


    <div class="container">
		<div class="page-header" id="banner">

		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron-image">
				  <img src="{% static "_insta_images/climb.png" %}"/>
				</div>
			</div>
			<div class="col-md-8">
				<div id="jumbo" class="jumbotron">
				  <h1>Welcome to Instautomation!</h1>
				  <p>A new generation of transparent BOT that provides <span class="hue coloured">optimization</span> and <span class="hue coloured">analytics</span> for igers.</p>
				  

				{% if numero_iscritti = 100 %}  

					<div class="alert alert-info" role="alert" style="width:70%;">
						<h4 style="margin-left:13px;">We're sorry but we have reached our beta subscription limit!</h4>
					<h6>Subscribe to our newsletter and stay update</h6>

						<form action="/email_chimp" method="post" id = "email_chimp">{% csrf_token %}					
								<input type="email" name="email" placeholder="&nbsp;&nbsp;Email" style="height:42px;width:300px;background-color: #ffffff;border-color: #dddddd;border-radius: 4px;color: #666;">
								<button type="submit" class="btn btn-default">Save</button>
							
						</form>
					</div>

				{% else %}

					<div class="row">
					  	<div class="col-md-6">
						 	<div class="btn-group btn-group-justified">
							  	<a href="{% url 'socialauth_begin' 'instagram' %}" class="btn btn-primary" style="width:25%;"><i class="fa fa-instagram fa-2x"></i></a>
							  	<a href="{% url 'socialauth_begin' 'instagram' %}" class="btn btn-primary" style="width:75%;">Sign in with Instagram</a>
						  	</div>
					 	</div>
					</div>

				{% endif %}

				</div> <!--end jumbotron-->

			</div>

		</div>


		<div class="row pad20">
			<div class="col-md-6">
				<blockquote>
				  <p>Instautomation is a reliable <span class="hue">B2B</span> and <span class="hue">B2C</span> service that aims instagram profiles to <span class="hue coloured">boost</span> their accounts in a new and automated way.</p>
				</blockquote>
			</div>	
			<div class="col-md-6">
				<blockquote class="pull-right">
				  <p>Tested results could be possible thanks to a continuous-improved engineering algorithm that combines the trinomial <i>like/follow/comment</i> with the <i>targeting</i> factor.</p>
				</blockquote>
			</div>
		</div>
		<div class="row pad20">
			<div class="col-md-6">
				<blockquote>
				  <p>Thanks to targeting, startups, SME and Big Enterprises (and private profiles too) can take strong advantages on their <span class="hue coloured">marketing campaign</span>.</p>
				</blockquote>
			</div>	
     	</div>

	</div>

	<!--MODALS-->

	<!--SUPPORT-->
		<div id="support" class="modal">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Need help?</h4>
			  </div>
			  <div class="modal-body">
				<form class="form-horizontal" id="ajax-contact-form">
				  <fieldset>
				    <div class="form-group">
				      <input id="inputEmail" type="hidden" name="" value="">
				      <label for="inputSubject" class="col-lg-3 control-label">Subject *</label>
				      <div class="col-lg-9">
				        <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
				      </div>
				    </div>
				    <div class="form-group">
				      <label for="textArea" class="col-lg-3 control-label">Message *</label>
				      <div class="col-lg-9">
				        <textarea class="form-control" rows="3" id="inputMessage"></textarea>
				        <span class="help-block"></span>
				      </div>
				    </div>
				  </fieldset>
				</form>
				<div id="note"></div>
			  </div>
			  <div class="modal-footer">
			  		<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				    <button class="btn btn-primary" onClick="sendSupport()">Continue</button>
			  </div>
			</div>
		  </div>
		</div>
		

	<!--TERMS-->
		<div id="terms" class="modal">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Our terms</h4>
			  </div>
			  <div id="termsDiv" class="modal-body">
					...
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>

		<!--SPINNER-->
		<div id="spinner" class="modal">
		  <div class="modal-dialog">
			<div class="modal-content">
			  	<div class="modal-body">
			  		<p>LOADING</p>
			  		<div class="progress progress-striped" class="col-md-10">
						<div class="progress-bar progress-bar-success active" style="width:100%"></div>
					</div>
			 	 </div>
			</div>
		  </div>
		</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - FOOTER  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		  <footer>
		  <hr>
			<div class="row">
			  <div class="col-lg-12">
				<ul class="list-unstyled">
				  <li class="pull-right"><a href="#top" class="smooth-top">Back to top</a></li>
				  <li><a href="javascript:openTerms()">Our terms</a></li>
				  <li><a href="//www.iubenda.com/privacy-policy/203721" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy</a></li>
				</ul>
				<p>Instautomation.com © 2014</p>
			  </div>
			</div>
		  </footer>

    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "./bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "./assets/js/bootswatch.js" %}"></script>
    <script src="{% static "./_insta_js/ga.js" %}"></script>
    <script src="{% static "./_insta_js/privacy.js" %}"></script>
	<script src="{% static "./_insta_js/function.js" %}"></script>
	<script src="{% static "main.js" %}"></script>
  </body>
</html>




