{% extends "instalogin.html" %}

{% block content %}
<h3>Like automatico</h3>

<ul class="nav nav-list">
	<li class="nav-header">Lista dei tag inseriti:</li>
	{% for tag in lista_tag %}
	<li>
		{{tag.keyword}}
	</li>
	{% endfor %}	
</ul>	

<h4>Aggiungi un tag</h4>
<form action="/aggiungi_tag" method="post">{% csrf_token %}
	{{ form.as_table }}
	<input type="submit" value="Submit" class="btn btn-default" />
</form> 

<h4>Avvia tutto</h4>

<form action="/avvia_like">
	<input type="submit" value="Avvia like automatico!" class="btn btn-default" />
</form>		

{% endblock %}	


