<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "theme/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "assets/css/bootswatch.min.css" %}">
    <link rel="stylesheet" href="{% static "_insta_css/style.css" %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "./bower_components/html5shiv/dist/html5shiv.js" %}"></script>
      <script src="{% static "./bower_components/respond/dest/respond.min.js" %}"></script>
    <![endif]-->
    <title>Welcome | Instautomation</title>
  </head>

  <body>

  	<div id="container" style="text-align:center;">
  		<form id = "redeem">
			{% csrf_token %}
			<h5><i class="fa fa-twitter fa-5x"></i></h5>
  			<p style="margin-top:20pt;">Redeem your free package!</p>
  			<button type="submit" class="btn btn-lg btn-primary" style="margin-top:20pt;">Redeem!</button>
		</form>	
  	</div>


  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   	<script src="{% static "./bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
   	<script src="{% static "./assets/js/bootswatch.js" %}"></script>

   	<script>
   	$('#redeem').on('submit', function(event){
		event.preventDefault();
		form = $( this );
		$.ajax({
		        url : "pay-with-a-tweet", 
		        type : "POST", 
		        data: form.serialize(),
		        success : function(data) {
		        	window.location.href = "/";
		        },
		        error : function(xhr,errmsg,err) {
		            console.log(xhr.status + ": " + xhr.responseText); 
		        }
		    });	
	});
   	</script>
  </body>

</html>